mat-toolbar {
    margin: 0;
    width: 100%;
    color: white;
    background: #1e3c72;
    background: -webkit-linear-gradient(to bottom, #1e3c72, #2a5298);
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
}

.spacer {
    flex: 1 1 auto;
}