<mat-card>
    <mat-card-header>
        <mat-card-title>{{postResponse.username}}</mat-card-title>
        <mat-card-subtitle>{{postResponse.date}}</mat-card-subtitle>
        <div mat-card-avatar class="example-image"></div>
    </mat-card-header>
    <mat-card-content>
        <p>{{postResponse.content}}</p>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button mat-icon-button>
            <mat-icon matBadge='{{postResponse.opinions}}' matBadgeColor="warn">mood</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon matBadge='{{postResponse.comments}}' matBadgeColor="warn">comment</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>